@{
    ViewBag.Title = "Knowledgebase Articles";
}
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Dashboard")">Home</a>
        </li>
        <li class="active">Knowledgebase</li>
        <li class="active">Articles</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            Knowledgebase Articles
        </h1>
    </div>
    <div class="row" id="dv_row">
        <div class="col-xs-12">
            <div class="text-right mar-15">
                <input type="submit" onclick="ManageArticle(0);" class="btn btn-sm btn-primary" value="Add Article">
            </div>
            <table id="ArticleDataGrid"></table>
            <div id="ArticleDataPager"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var grid_selector = "#ArticleDataGrid";
    var pager_selector = "#ArticleDataPager";

    jQuery(function ($) {

        jQuery(grid_selector).jqGrid({
            url: '/Admin/KBArticles/GetGridData',

            viewrecords: true, sortname: 'CategoryName', sortorder: "asc",
            colNames: ['ArticleId', 'Title', 'Category Name', 'Created On', 'Created By', "Actions"],
            colModel: [
                           { name: 'ArticleId', width: 1, hidden: true, key: true, align: 'center' },
                           { name: 'Title', index: 'Title', width: 100, align: 'left', search: true, searchoptions: JQ_sopt_string },
                           { name: 'CategoryName', index: 'CategoryName', width: 40, align: 'left', search: true, searchoptions: JQ_sopt_string },
                                {
                                    name: 'CreatedOn', index: 'CreatedOn', width: 15, align: "center", formatter: "date", search: true, searchoptions: {
                                        sopt: ['ge'], dataInit: function (el) {
                                            $(el).datepicker({
                                                autoclose: true
                                            }).on("changeDate", function (e) { $('#ArticleDataGrid')[0].triggerToolbar(); });
                                        }
                                    }
                                },
                                   { name: 'CreatedBy', index: 'CreatedBy', width: 35, align: 'left', search: true, searchoptions: JQ_sopt_string },

                           { name: 'Action', index: 'ArticleId', width: 15, align: 'center', formatter: LinkFormatter, search: false, sortable: false },
            ],
            pager: pager_selector,
            rowNum: 10,
            rowList: [5, 10, 20, 50, 100],
            autowidth: true,
            height: '100%',
            datatype: 'json',
            cmTemplate: { title: false },
            viewrecords: true,
            mtype: 'GET',
            loadComplete: function () { ResizeJqgrid(); },
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                userdata: "userdata"
            },
        }).navGrid('#ArticleDataPager', { view: false, del: false, add: false, edit: false, search: false, referesh: true },
           {}, // default settings for edit
           {}, // default settings for add
           {}, // delete instead that del:false we need this
           { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true }, // search options
           {} /* view parameters*/
         ).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: 'cn' });
    });



    function ManageArticle(Id) {
        window.location.href = "/Admin/KBArticles/Manage?Id=" + Id + "&tab=Details";
    }

    function LinkFormatter(cellvalue, options, rowObject) {
        return "<a href='javascript:void(0);'class='ace-icon fa fa-pencil blue bigger-120' onclick='ManageArticle(\"" + rowObject["ArticleId"] + "\");' data-rel='tooltip' title='' data-original-title='Edit'  data-placement='left'></a> | " +
        "<a href='javascript:void(0);' class='ace-icon fa fa-trash-o red bigger-120' onclick='DeleteArticle(\"" + rowObject["ArticleId"] + "\");' data-rel='tooltip' title='' data-original-title='Delete' data-placement='left' ></a>";
    }

    function DeleteArticle(Id) {
        if (confirm("Are you sure you want to delete this Article?")) {
            $("#dv_row").block();
            $.post("/Admin/KBArticles/Delete/" + Id, function (data, status) {
                if (data.success) {
                    SuccessMessage(data.message);
                    $("#ArticleDataGrid").trigger('reloadGrid');
                } else {
                    ErrorMessage(data.message);
                }
                $("#dv_row").unblock();
            });
        }
    }
</script>