@using HelpDesk.Classes
@using HelpDeskEntity.Classes
@using HelpDeskEntity
@{
    User oUser = (User)Session[En_UserSession.User.ToString()];    
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebar').find('.active').closest('ul').closest('li').addClass("active open");
    });

    function LoadData()
    {
        $('LoadKnowledgeData').html('');
      
        $("#LoadKnowledgeData").load("/Knowledgebase/Index", function () {
            $(".classli").removeClass("active");
            $("#Knowledgebase").addClass("active");
        });
    }
</script>
<div id="sidebar" class="sidebar sidebar-fixed responsive">

    @if (oUser.RoleId == (int)En_CompanyUserRole.CompanyUser || oUser.RoleId == (int)En_CompanyUserRole.CompanySuperUser)
    {
        <ul class="nav nav-list">
            <li class="@(Request.Url.ToString().Contains("/Dashboard/Index") ? "active" : "") classli" >
                <a href="~/Dashboard/Index">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="@(Request.Url.ToString().Contains("/SupportTicket/Index") ? "active" : "") classli">
                <a href="~/SupportTicket/Index">
                    <i class="menu-icon glyphicon glyphicon-tags"></i>
                    <span class="menu-text"> Support Tickets </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li id="Knowledgebase">
                <a href="~/Knowledgebase/Index" target="_blank">
                    <i class="menu-icon glyphicon glyphicon-inbox"></i>
                    <span class="menu-text">Knowledge Base</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li>
            </li>
        </ul>
    }
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
