@model HelpDesk.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center" style=" min-height: 42px;">
                        <h1>
                            <span class="red">Help</span>
                            <span class="white" id="id-text2">Desk</span>
                        </h1>
                    </div>
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div class="forgot-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        Retrieve Password
                                    </h4>
                                    <div class="space-6"></div>
                                    <p>
                                        Please enter your registered email address below and we’ll send you an email with a link to reset password.
                                    </p>
                                    @using (Html.BeginForm("SendForgotPasswordLink", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                                        @Html.ValidationMessageFor(model => model.Email)
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Send Me!</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    }
                                </div>
                                <div class="toolbar center">
                                    <a href="/Admin/Home/Login" class="back-to-login-link">
                                        Back to login
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
