@model HelpDeskEntity.Language

@{
    Layout = null;
}

@using HelpDeskEntity.Classes

<script type="text/javascript">

    $(document).ready(function () {
    });

    function Cancel() {
        $('#dv_PopUp').modal('hide');
    }

    function Save() {
        $.validator.unobtrusive.parse($("#Manage-Language-Form"));
        if ($('#Manage-Language-Form').valid()) {
            $('#ManageData').block();
            var formData = $("#Manage-Language-Form").serialize();
            $.post("@Url.Content("~/Admin/Languages/Save")", formData, function (data) {
                if (data.success) {//on success refrsh view
                    $('#dv_PopUp').modal('hide');
                    SuccessMessage(data.message);
                    $("#LanguageDataGrid").trigger('reloadGrid');
                } else {
                    $('#ManageData').unblock();
                    ErrorMessage(data.message);
                }
            });
        }
    }

</script>
<div id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="bigger">Manage Language</h4>
            </div>
            <div class="modal-body" id="ManageData">
                <div class="col-xs-12">
                    <div class="row">
                        @using (Html.BeginForm("Save", "Languages", FormMethod.Post, new { @class = "form-horizontal", Id = "Manage-Language-Form" }))
                        {
                            @Html.HiddenFor(c => c.Id)

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"><span class="light-red">* </span> Language</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Description)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align:center;">
                    <button class="btn btn-sm btn-primary" type="button" onclick="Save();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Save
                    </button>
                    &nbsp;
                    <button class="btn btn-sm" type="button" onclick="Cancel();">
                        <i class="ace-icon fa fa-times"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>