<settings>
	<add key="DefaultMailAddress" value="LiveSupport&lt;testing@itactsolutions.com&gt;" />
	<add key="SmtpServer" value="smtp.gmail.com" />
	<add key="SmtpUsername" value="testing@itactsolutions.com" />
	<add key="SmtpPassword" value="test@124" />
	<add key="SmtpUseSSL" value="true" />
</settings>