<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HelpDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HelpDeskEntities" connectionString="metadata=res://*/HelpDesk.csdl|res://*/HelpDesk.ssdl|res://*/HelpDesk.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\zen_borg,1433;initial catalog=helpdesk;persist security info=True;user id=sa;password=1qaz@WSX3edc;Persist Security Info=False;TrustServerCertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultAdminUsername" value="admin" />
    <!--<add key="ConnectionString" value="Server=localhost\zen_borg,1433;Initial Catalog=helpdesk;Persist Security Info=False;User ID=sa;Password=1qaz@WSX3edc;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"/>-->

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ForgotPasswordTokenExpirationHour" value="12" />
    <add key="ImagePath" value="http://localhost:2400/uploads" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="59" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Error/Index" redirectMode="ResponseRedirect" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="hostname" deliveryMethod="Network">
        <network defaultCredentials="false" host="host" port="25" password="hostpassword" userName="hostusername" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <directoryBrowse enabled="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <HelpDesk.Properties.Settings>
      <setting name="LoginFailed" serializeAs="String">
        <value>Login Failed|Login fallito</value>
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>Remember Me|Ricordami</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>Login|Accedi</value>
      </setting>
      <setting name="IforgotMyPassword" serializeAs="String">
        <value>I forgot my password|Recupera password</value>
      </setting>
      <setting name="InvalidUsername" serializeAs="String">
        <value>Invalid Username|Username non valido</value>
      </setting>
      <setting name="InvalidUsernamePassword" serializeAs="String">
        <value>Invalid Username or Password|Username o Password non validi</value>
      </setting>
      <setting name="AMailWithReset_" serializeAs="String">
        <value>A mail with reset password link has been sent. Please check your Inbox.|E' stato inviato un link per resettare la tua mail. Controlla la tua posta in arrivo.</value>
      </setting>
      <setting name="ResetPasswordLinkExpired_" serializeAs="String">
        <value>Reset password link is expired, try reset password again.|Il link per resettare la password è scaduto, ripeti la procedura di azzeramento password.</value>
      </setting>
      <setting name="ResetPasswordLinkNotValid" serializeAs="String">
        <value>Reset password link is not valid.</value>
      </setting>
      <setting name="PasswordResetOk" serializeAs="String">
        <value>Your password has been reset successfully.|La tua password è stata resettata con successo.</value>
      </setting>
      <setting name="PasswordResetError" serializeAs="String">
        <value>Error resetting your Password. Please contact site Administrator.|E' avvenuto un errore durante il reset della password. Contattare l'amministratore.</value>
      </setting>
      <setting name="SendMe" serializeAs="String">
        <value>Send Me!|Invia!</value>
      </setting>
      <setting name="BackToLogin" serializeAs="String">
        <value>Back to login|Torna al login</value>
      </setting>
      <setting name="RetrievePassword" serializeAs="String">
        <value>Retrieve Password|Reimposta password</value>
      </setting>
      <setting name="PleaseEnterYourRegisteredEmail" serializeAs="String">
        <value>Please enter your registered email address below and we’ll send you an email with a link to reset password.|Inserisci il tuo indirizzo mail e ti sarà inviato un link per resettare la pasword.</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>User name|Nome utente</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>Company|Azienda</value>
      </setting>
      <setting name="ContractPeriod" serializeAs="String">
        <value>Contract Period|Durata del contratto</value>
      </setting>
      <setting name="Unlimited" serializeAs="String">
        <value>Unlimited|illimitati</value>
      </setting>
      <setting name="NoOfTickets" serializeAs="String">
        <value>No. Of Tickets|Limite tickets</value>
      </setting>
      <setting name="TicketsLeft" serializeAs="String">
        <value>Tickets Left|Tickets mancanti</value>
      </setting>
      <setting name="ResponseWithin" serializeAs="String">
        <value>Response Within|Risposta entro</value>
      </setting>
      <setting name="SolutionWithin" serializeAs="String">
        <value>Solution Within|Soluzione Entro</value>
      </setting>
      <setting name="hours" serializeAs="String">
        <value>hours|ore</value>
      </setting>
      <setting name="OpenTickets" serializeAs="String">
        <value>Open Tickets|Ticket aperti</value>
      </setting>
      <setting name="CreateSupportTicket" serializeAs="String">
        <value>Create Support Ticket|Crea ticket assistenza</value>
      </setting>
      <setting name="AdvancedSearch" serializeAs="String">
        <value>Advanced Search|Ricerca avanzata</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Title|Titolo</value>
      </setting>
      <setting name="Category" serializeAs="String">
        <value>Category|Categoria</value>
      </setting>
      <setting name="CompanyUser" serializeAs="String">
        <value>Company user|Dipendente</value>
      </setting>
      <setting name="SolPri" serializeAs="String">
        <value>Sol.Pri|Priorità</value>
      </setting>
      <setting name="AssignTo" serializeAs="String">
        <value>Assign To|Assegnato</value>
      </setting>
      <setting name="ProblemDescription" serializeAs="String">
        <value>Problem Description|Problema</value>
      </setting>
      <setting name="YouAreLookingAtTicket" serializeAs="String">
        <value>You are looking at Ticket|Ticket visualizzato</value>
      </setting>
      <setting name="CreatedOn" serializeAs="String">
        <value>Created On|Creato il</value>
      </setting>
      <setting name="ClosedOn" serializeAs="String">
        <value>Closed On|Chiuso il</value>
      </setting>
      <setting name="NotClosedYet" serializeAs="String">
        <value>Not Closed yet|Non ancora chiuso</value>
      </setting>
      <setting name="NextActionType" serializeAs="String">
        <value>Next Action Type|Tipo prossima azione</value>
      </setting>
      <setting name="NextActionDueFor" serializeAs="String">
        <value>Next Action Due For|Scadenza prossima azione</value>
      </setting>
      <setting name="TicketDetails" serializeAs="String">
        <value>Ticket Details|Dettagli ticket</value>
      </setting>
      <setting name="Comments" serializeAs="String">
        <value>Comments|Commenti</value>
      </setting>
      <setting name="Attachments" serializeAs="String">
        <value>Attachments|Allegati</value>
      </setting>
      <setting name="None" serializeAs="String">
        <value>None|Nessuna</value>
      </setting>
      <setting name="Response" serializeAs="String">
        <value>Response|Risposta</value>
      </setting>
      <setting name="Solution" serializeAs="String">
        <value>Solution|Soluzione</value>
      </setting>
      <setting name="OutOfSLA" serializeAs="String">
        <value>Out of SLA|Fuori clausole di contratto</value>
      </setting>
      <setting name="ContactInfo" serializeAs="String">
        <value>Contact Info|Info. contatto</value>
      </setting>
      <setting name="Save" serializeAs="String">
        <value>Save|Salva</value>
      </setting>
      <setting name="Cancel" serializeAs="String">
        <value>Cancel|Annulla</value>
      </setting>
      <setting name="CustomerPriority" serializeAs="String">
        <value>Customer Priority|Priorità cliente</value>
      </setting>
      <setting name="CommentsForThisTicket" serializeAs="String">
        <value>Comments for this Ticket|Commenti per questo ticket</value>
      </setting>
      <setting name="Operator" serializeAs="String">
        <value>Operator|Operatore</value>
      </setting>
      <setting name="Customer" serializeAs="String">
        <value>Customer|Cliente</value>
      </setting>
      <setting name="PrivateComment" serializeAs="String">
        <value>Private Comment|Commento privato</value>
      </setting>
      <setting name="ThereAreNoComments_" serializeAs="String">
        <value>There are No Comments for this Ticket|Non ci sono commenti per questo ticket</value>
      </setting>
      <setting name="AddComment" serializeAs="String">
        <value>Add Comment|Aggiungi commento</value>
      </setting>
      <setting name="AreYouSure_DeleteThisAttachment" serializeAs="String">
        <value>Are you sure you want to delete this attachment|Sei sicuro di volere eliminare questo allegato</value>
      </setting>
      <setting name="AddAttachment" serializeAs="String">
        <value>Add Attachment|Aggiungi allegato</value>
      </setting>
      <setting name="NoFilesAttached" serializeAs="String">
        <value>No Files Attached|Nessun file allegato</value>
      </setting>
      <setting name="Download" serializeAs="String">
        <value>Download|Scarica</value>
      </setting>
      <setting name="Delete" serializeAs="String">
        <value>Delete|Cancella</value>
      </setting>
      <setting name="SolutionPriority" serializeAs="String">
        <value>Solution Priority|Priorità richiesta</value>
      </setting>
      <setting name="IssueCategory" serializeAs="String">
        <value>Issue Category|Categoria del problema</value>
      </setting>
      <setting name="Search" serializeAs="String">
        <value>Search|Ricerca</value>
      </setting>
      <setting name="KBCategories" serializeAs="String">
        <value>KB Categories|Categorie KB</value>
      </setting>
      <setting name="SearchResults" serializeAs="String">
        <value>Search Results|Risultati ricerca</value>
      </setting>
      <setting name="KnowledgeBaseArticles" serializeAs="String">
        <value>Knowledge Base Articles|Articoli della Knowledge Base</value>
      </setting>
      <setting name="ArticleTitle" serializeAs="String">
        <value>Article Title|Titolo articolo</value>
      </setting>
      <setting name="Read" serializeAs="String">
        <value>Read|Leggi</value>
      </setting>
      <setting name="NoArticlesFound" serializeAs="String">
        <value>No Articles Found|Nessun articolo trovato</value>
      </setting>
      <setting name="WelcomeToOurKnowledgeBase" serializeAs="String">
        <value>Welcome to our Knowledge Base. Use the Search or browse the Categories using the tree on the left panel|Benvenuti nella nostra Knowledge Base. Usate la funzionalità di ricerca o navigate tra le categorie del pannello di sinistra</value>
      </setting>
      <setting name="ThisIsAListOfArticlesFound_" serializeAs="String">
        <value>This is a list of articles that was found for your search|Questa è la lista degli articoli trovati per la tua ricerca</value>
      </setting>
      <setting name="Welcome" serializeAs="String">
        <value>Welcome|Benvenuto</value>
      </setting>
      <setting name="ChangePassword" serializeAs="String">
        <value>Change Password|Cambia password</value>
      </setting>
      <setting name="MyProfile" serializeAs="String">
        <value>My Profile|Il mio profilo</value>
      </setting>
      <setting name="Logout" serializeAs="String">
        <value>Logout|Esci</value>
      </setting>
      <setting name="CurrentPassword" serializeAs="String">
        <value>Current Password|Password attuale</value>
      </setting>
      <setting name="NewPassword" serializeAs="String">
        <value>New Password|Nuova password</value>
      </setting>
      <setting name="ConfirmPassword" serializeAs="String">
        <value>Confirm Password|Conferma password</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Name|Nome</value>
      </setting>
      <setting name="Contact" serializeAs="String">
        <value>Contact|Contatto</value>
      </setting>
    </HelpDesk.Properties.Settings>
  </applicationSettings>
</configuration>